@font-face {
  font-family: "Yandex-Serif";
  src: url("../fonts/Yandex_Sans/Yandex-Serif-Display-Regular.ttf");
}
html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  background-color: #f8f0ec;
}

h1,
h2,
p,
ul {
  margin: 0;
}

.container {
  max-width: 1110px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  font-family: "Yandex-Serif", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 26px;
  }
}

.header {
  padding-top: 51px;
  background-image: url("../images/bg/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header__image {
  position: relative;
  padding-bottom: 38px;
}
.header .header__img-title {
  width: 100%;
}
.header .header__img-logo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}
.header .header__text {
  padding-bottom: 27px;
  text-align: center;
  color: #f8f0ec;
  text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.7);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .header .header__text {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .header .header__text {
    font-size: 16px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-around;
  padding: 30px;
  max-width: 1110px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  list-style-type: none;
  background: #f8f0ec;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__item {
  padding: 5px 12px;
  border-bottom: 1px solid #f8f0ec;
}
.menu__item:hover {
  border-bottom: 1px solid #081685;
}

.menu__link {
  cursor: pointer;
  text-decoration: none;
  color: #081685;
}

.menu-mobile {
  display: none;
  background: #f8f0ec;
}
@media screen and (max-width: 767px) {
  .menu-mobile {
    display: inline-block;
    text-align: right;
    width: 300px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-mobile button {
    position: relative;
    background: none;
    border: none;
  }
}

.menu-mobile__list {
  position: absolute;
  right: -20px;
  top: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  padding: 20px;
  z-index: 9;
  transform: translateY(-15%);
  transition: opacity 0.5s, transform 0.5s;
  background: #f8f0ec;
  text-align: center;
}

.show {
  visibility: visible;
  transform: translateY(0);
}

.hidden {
  visibility: hidden;
}

.menu-mobile__btn-close {
  margin-left: auto;
  cursor: pointer;
}

.about-me {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img title" "img name" "img experience" "img teacher";
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 24px;
  padding: 50px;
}
@media screen and (max-width: 991px) {
  .about-me {
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
    grid-template-areas: "img title" "img name" "img experience" "teacher teacher";
  }
}
@media screen and (max-width: 767px) {
  .about-me {
    padding: 30px;
    row-gap: 8px;
    grid-template-areas: "img title" "img name" "experience experience" "teacher teacher";
  }
}
.about-me .about-me__img-wrapper {
  grid-area: img;
  max-width: 347px;
  flex-shrink: 0;
}
@media screen and (max-width: 991px) {
  .about-me .about-me__img-wrapper {
    max-width: 234px;
  }
}
@media screen and (max-width: 767px) {
  .about-me .about-me__img-wrapper {
    max-width: 143px;
  }
}
.about-me .about-me__img-wrapper img {
  width: 100%;
}
.about-me .about-me__title {
  grid-area: title;
  margin: 0;
  font-family: "Yandex-Serif", sans-serif;
  color: #081685;
  font-size: 48px;
  font-style: normal;
  font-weight: 550;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .about-me .about-me__title {
    font-size: 28px;
  }
}
.about-me .about-me__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 991px) {
  .about-me .about-me__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .about-me .about-me__text {
    font-size: 14px;
  }
}
.about-me .about-me__text-name {
  grid-area: name;
}
.about-me .about-me__text-experience {
  grid-area: experience;
}
.about-me .about-me__text-teacher {
  grid-area: teacher;
}

.quote {
  background-repeat: no-repeat;
  background-size: cover;
}
.quote p {
  padding: 130px 16px;
  text-align: center;
  color: #f8f0ec;
  font-family: "Yandex-Serif", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 991px) {
  .quote p {
    padding: 115px 46px;
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .quote p {
    padding: 77px 32px;
    font-size: 18px;
  }
}
.quote--first {
  background-image: url(../images/bg/bg-q1.png);
}
.quote--second {
  background-image: url(../images/bg/bg-q2.png);
}
.quote--third {
  background-image: url(../images/bg/bg-q3.png);
}
.quote--fourth {
  background-image: url(../images/bg/bg-q4.png);
}
.quote--fifth {
  background-image: url(../images/bg/bg-q5.png);
}
.quote--sixth {
  background-image: url(../images/bg/bg-q6.png);
}

.my-slide {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-right: 52px;
  padding-left: 52px;
}
@media screen and (max-width: 767px) {
  .my-slide {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
    padding-top: 42px;
    padding-bottom: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.swiper-pagination {
  color: #081685;
  font-family: "Yandex-Serif", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.my-slide__text {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (max-width: 767px) {
  .my-slide__text {
    padding-top: 0;
    padding-bottom: 16px;
    text-align: center;
  }
}

.mySwiper__wrapper {
  align-items: center;
}

.my-slide__img-wrapper {
  max-width: 350px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .my-slide__img-wrapper {
    max-width: 210px;
  }
}
.my-slide__img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    right: -4px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: -4px;
  }
}

.mission {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 94px 50px;
}
@media screen and (max-width: 991px) {
  .mission {
    padding: 51px 45px;
  }
}
@media screen and (max-width: 767px) {
  .mission {
    padding: 64px 30px;
    gap: 24px;
  }
}
.mission h3 {
  font-family: "Yandex-Serif", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .mission h3 {
    font-size: 20px;
  }
}
.mission p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .mission p {
    order: 3;
    font-size: 18px;
  }
}
.mission .mission__img-wrapper img {
  width: 100%;
}

.reasons {
  padding-top: 88px;
  padding-bottom: 85px;
}
@media screen and (max-width: 991px) {
  .reasons {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (max-width: 767px) {
  .reasons {
    padding-top: 64px;
    padding-bottom: 67px;
  }
}

.reasons__title {
  margin-bottom: 46px;
}
@media screen and (max-width: 767px) {
  .reasons__title {
    margin-bottom: 26px;
    text-align: center;
  }
}
.reasons__title p {
  font-family: "Yandex-Serif", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .reasons__title p {
    font-size: 26px;
  }
}
.reasons__title span {
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .reasons__title span {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .reasons__title p:first-child {
    font-size: 18px;
  }
}
.reasons__title p:nth-child(2) {
  padding-left: 20%;
}
@media screen and (max-width: 767px) {
  .reasons__title p:nth-child(2) {
    padding-left: 0;
  }
}
.reasons__title p:nth-child(3) {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .reasons__title p:nth-child(3) {
    text-align: center;
  }
}

.reasons__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "img-left reasons-list img-right";
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: end;
  position: relative;
}
@media screen and (max-width: 991px) {
  .reasons__content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img-left reasons-list";
    align-items: start;
  }
}
@media screen and (max-width: 767px) {
  .reasons__content {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    justify-items: center;
    align-items: start;
    grid-template-areas: "img-left img-right" "reasons-list reasons-list";
  }
}

.reasons__list {
  grid-area: reasons-list;
}
@media screen and (max-width: 767px) {
  .reasons__list {
    gap: 20px;
  }
}
.reasons__list ul {
  display: flex;
  flex-direction: column;
  gap: 47px;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .reasons__list ul {
    gap: 16px;
  }
}
.reasons__list li {
  display: flex;
  align-items: baseline;
  gap: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .reasons__list li {
    font-size: 16px;
  }
}

.reasons__img-wrapper img {
  width: 100%;
}

.reasons__img-wrapper--left {
  grid-area: img-left;
}
@media screen and (max-width: 991px) {
  .reasons__img-wrapper--left {
    max-width: 206px;
  }
}
@media screen and (max-width: 767px) {
  .reasons__img-wrapper--left {
    max-width: auto;
  }
}

.reasons__img-wrapper--right {
  grid-area: img-right;
}
@media screen and (max-width: 991px) {
  .reasons__img-wrapper--right {
    position: absolute;
    max-width: 206px;
    top: 167px;
    left: 120px;
  }
}
@media screen and (max-width: 767px) {
  .reasons__img-wrapper--right {
    position: static;
    max-width: auto;
  }
}

.programs {
  padding-top: 112px;
  padding-bottom: 65px;
}

.programs__wrapper {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 991px) {
  .programs__wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .programs__wrapper {
    gap: 0;
  }
}
.programs__wrapper .programs__spanish {
  width: 70%;
}
@media screen and (max-width: 991px) {
  .programs__wrapper .programs__spanish {
    width: 100%;
  }
}
.programs__wrapper .programs__english {
  width: 30%;
}
@media screen and (max-width: 991px) {
  .programs__wrapper .programs__english {
    width: 100%;
  }
}

.programs__title {
  margin-top: 72px;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Yandex-Serif", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .programs__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 26px;
    font-size: 24px;
  }
}
.programs__title--spanish {
  border-bottom: 2px solid #081685;
  color: #081685;
}
@media screen and (max-width: 767px) {
  .programs__title--spanish {
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .programs__title--spanish::after {
    content: url("../images/icons/tick-blue.svg");
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: 0.4s ease;
  }
}
.programs__title--english {
  border-bottom: 2px solid #3f4924;
  color: #3f4924;
}
@media screen and (max-width: 767px) {
  .programs__title--english {
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .programs__title--english::after {
    content: url("../images/icons/tick-green.svg");
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: 0.4s ease;
  }
}
@media screen and (max-width: 767px) {
  .programs__title--spanish.open::after, .programs__title--english.open::after {
    transform: rotate(90deg);
  }
}

.program__wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  transition: 2 s;
}

.program__wrapper.close {
  display: none;
}

.program__item {
  width: 337px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 28px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .program__item {
    max-width: 337px;
    width: 100%;
  }
}
.program__item--spanish {
  border: 2px solid #081685;
}
.program__item--english {
  border: 2px solid #3f4924;
}
.program__item--left-text {
  text-align: left;
}
@media screen and (max-width: 991px) {
  .program__item--order3 {
    order: 3;
  }
}
@media screen and (max-width: 767px) {
  .program__item--order3 {
    order: 1;
  }
}
.program__item ul {
  list-style-position: inside;
}

.program__btn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #f8f0ec;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 71px;
}
@media screen and (max-width: 767px) {
  .program__btn {
    padding: 8px 32px;
  }
}
.program__btn--spanish {
  background-color: #081685;
}
.program__btn--spanish:hover {
  background-color: rgba(8, 22, 133, 0.7);
}
.program__btn--english {
  background-color: #3f4924;
}
.program__btn--english:hover {
  background-color: rgba(63, 73, 36, 0.7);
}

.help {
  padding-top: 104px;
  padding-bottom: 71px;
}
@media screen and (max-width: 991px) {
  .help {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .help {
    padding-bottom: 66px;
  }
}

.help__content {
  display: grid;
  grid-template-columns: 383px 1fr;
  grid-template-areas: "text text" "help-img help-list";
  -moz-column-gap: 67px;
       column-gap: 67px;
  row-gap: 48px;
  margin-top: 80px;
}
@media screen and (max-width: 991px) {
  .help__content {
    grid-template-columns: 250px 1fr;
    grid-template-areas: "help-img text" "help-list help-list";
    -moz-column-gap: 28px;
         column-gap: 28px;
    align-items: center;
    margin-top: 24px;
  }
}
@media screen and (max-width: 767px) {
  .help__content {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "help-img" "help-list";
    row-gap: 32px;
    justify-items: center;
  }
}

.help__text {
  grid-area: text;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .help__text {
    font-size: 18px;
    line-height: 150%;
  }
}

.help__img-wrapper {
  max-width: 383px;
}
.help__img-wrapper img {
  width: 100%;
}

.help__list {
  grid-area: help-list;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 767px) {
  .help__list {
    font-size: 16px;
  }
}
.help__list li::before {
  content: url("../images/icons/tick.svg");
  display: inline-block;
  width: 26px;
  height: 25px;
}

.help__item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.help__item--ml {
  margin-left: 100px;
}
@media screen and (max-width: 991px) {
  .help__item--ml {
    margin-left: 95px;
  }
}
@media screen and (max-width: 767px) {
  .help__item--ml {
    margin-left: 0;
  }
}

.getting-know {
  max-width: 445px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: auto;
  color: #000000;
  background-color: #f8f0ec;
}
@media screen and (max-width: 767px) {
  .getting-know {
    max-width: 300px;
  }
}
.getting-know .getting-know__title {
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: none;
}
@media screen and (max-width: 767px) {
  .getting-know .getting-know__title {
    font-size: 16px;
  }
}
.getting-know .getting-know__btn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 8px 71px;
  color: #f8f0ec;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #c20000;
}
.getting-know .getting-know__btn:hover {
  background: rgba(194, 0, 0, 0.7);
}
.getting-know .getting-know__note {
  padding: 0;
  color: #5f5f5f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-shadow: none;
}
@media screen and (max-width: 767px) {
  .getting-know .getting-know__note {
    font-size: 12px;
  }
}

.contacts__content {
  padding: 33px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f0ec;
}

.contacts__title {
  font-family: "Yandex-Serif", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__email {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.contacts__email:hover {
  text-decoration: underline;
}

.footer {
  height: 600px;
  background-image: url(../images/bg/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .footer {
    height: 300px;
  }
}
@media screen and (max-width: 991px) {
  .footer {
    height: 450px;
  }
}

.footer__title {
  color: #f8f0ec;
  /* Shadow 1 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: "Yandex-Serif", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (max-width: 991px) {
  .footer__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 18px;
  }
}

.footer__img-wrapper {
  max-width: 116px;
}
@media screen and (max-width: 767px) {
  .footer__img-wrapper {
    font-size: 54px;
  }
}
.footer__img-wrapper img {
  width: 100%;
}

.footer__note {
  cursor: pointer;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
@media screen and (max-width: 991px) {
  .footer__note {
    font-size: 120px;
  }
}
@media screen and (max-width: 767px) {
  .footer__note {
    font-size: 12px;
  }
}
.footer__note:hover {
  color: #f8f0ec;
}

.contacts {
  padding: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f0ec;
}
@media screen and (max-width: 991px) {
  .contacts {
    max-width: 678px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    max-width: 300px;
    flex-direction: column;
    gap: 16px;
  }
}

.contacts__title {
  font-family: "Yandex-Serif", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__links-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contacts__links-wrapper {
    flex-direction: column;
    gap: 16px;
  }
}

.contacts__social-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contacts__social-tg,
.contacts__social-ig {
  width: 65px;
  height: 65px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
@media screen and (max-width: 991px) {
  .contacts__social-tg,
  .contacts__social-ig {
    width: 37px;
    height: 37px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__social-tg,
  .contacts__social-ig {
    width: 50px;
    height: 50px;
  }
}
.contacts__social-tg:hover,
.contacts__social-ig:hover {
  transform: scale(1.1);
}
.contacts__social-tg img,
.contacts__social-ig img {
  width: 100%;
}

.contacts__social-yt {
  width: 160px;
  height: 36px;
  transition-duration: 0.3s;
  transition-property: transform;
}
@media screen and (max-width: 991px) {
  .contacts__social-yt {
    width: 89px;
    height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__social-yt {
    width: 120px;
    height: 30px;
  }
}
.contacts__social-yt:hover {
  transform: scale(1.1);
}
.contacts__social-yt img {
  width: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__note-content {
  margin-top: auto;
}

.arrow-top {
  position: fixed;
  right: 20px;
  top: 90%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.8;
  z-index: 999;
}/*# sourceMappingURL=index.css.map */