@import "./variables.scss";

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // min-width: 320px;
  // min-height: 100vh;

  font-family: $main-font;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: $black;
  background-color: $white;

  // @include tablet {
  //   font-size: 18px;
  // }
}

h1,
h2,
p,
ul {
  margin: 0;
}

.container {
  max-width: 1110px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  font-family: $yandex-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include mobile {
    font-size: 26px;
  }
}

.header {
  padding-top: 51px;

  background-image: url("../images/bg/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;

  .header__image {
    position: relative;
    padding-bottom: 38px;
  }

  .header__img-title {
    width: 100%;
  }

  .header__img-logo {
    position: absolute;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20%;
  }

  .header__text {
    padding-bottom: 27px;

    text-align: center;
    color: $white;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.7);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @include tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 16px;
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-around;
  padding: 30px;
  // margin: 0;

  max-width: 1110px;

  margin: 0;
  margin-right: auto;
  margin-left: auto;

  list-style-type: none;
  background: $white;

  @include mobile {
    display: none;
  }
}

.menu__item {
  padding: 5px 12px;
  border-bottom: 1px solid $white;

  &:hover {
    border-bottom: 1px solid $blue;
  }
}

.menu__link {
  cursor: pointer;
  text-decoration: none;
  color: $blue;
}

.menu-mobile {
  display: none;

  background: $white;

  @include mobile {
    display: inline-block;
    text-align: right;
    width: 300px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;

    button {
      position: relative;
      background: none;
      border: none;
    }
  }
}

.menu-mobile__list {
  position: absolute;
  right: -20px;
  top: 0;

  width: 300px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
  padding: 0;
  padding: 20px;

  z-index: 9;
  transform: translateY(-15%);
  transition: opacity 0.5s, transform 0.5s;

  background: $white;
  text-align: center;
}

.show {
  visibility: visible;
  transform: translateY(0);
}

.hidden {
  visibility: hidden;
}

.menu-mobile__btn-close {
  margin-left: auto;
  cursor: pointer;
}

.about-me {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "img title"
    "img name"
    "img experience"
    "img teacher";
  column-gap: 30px;
  row-gap: 24px;

  padding: 50px;

  @include tablet {
    column-gap: 16px;
    row-gap: 16px;

    grid-template-areas:
      "img title"
      "img name"
      "img experience"
      "teacher teacher";
  }

  @include mobile {
    padding: 30px;

    row-gap: 8px;

    grid-template-areas:
      "img title"
      "img name"
      "experience experience"
      "teacher teacher";
  }

  .about-me__img-wrapper {
    grid-area: img;
    max-width: 347px;
    flex-shrink: 0;

    @include tablet {
      max-width: 234px;
    }

    @include mobile {
      max-width: 143px;
    }

    img {
      width: 100%;
    }
  }

  .about-me__title {
    grid-area: title;

    margin: 0;

    font-family: $yandex-font;
    color: $blue;
    font-size: 48px;
    font-style: normal;
    font-weight: 550;
    line-height: 150%;

    @include mobile {
      font-size: 28px;
    }
  }

  .about-me__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  // сетка
  .about-me__text-name {
    grid-area: name;
  }
  .about-me__text-experience {
    grid-area: experience;
  }
  .about-me__text-teacher {
    grid-area: teacher;
  }
}

.quote {
  background-repeat: no-repeat;
  background-size: cover;

  p {
    padding: 130px 16px;

    text-align: center;
    color: $white;
    font-family: $yandex-font;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include tablet {
      padding: 115px 46px;

      font-size: 28px;
    }

    @include mobile {
      padding: 77px 32px;

      font-size: 18px;
    }
  }

  &--first {
    background-image: url(../images/bg/bg-q1.png);
  }

  &--second {
    background-image: url(../images/bg/bg-q2.png);
  }

  &--third {
    background-image: url(../images/bg/bg-q3.png);
  }

  &--fourth {
    background-image: url(../images/bg/bg-q4.png);
  }

  &--fifth {
    background-image: url(../images/bg/bg-q5.png);
  }

  &--sixth {
    background-image: url(../images/bg/bg-q6.png);
  }
}

// слайдер "Обо мне"
.my-slide {
  display: flex;
  gap: 32px;
  align-items: center;

  padding-right: 52px;
  padding-left: 52px;

  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;

    padding-top: 42px;
    padding-bottom: 24px;

    padding-right: 20px;
    padding-left: 20px;
  }
}

.swiper-pagination {
  color: $blue;
  font-family: $yandex-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.my-slide__text {
  padding-top: 84px;
  padding-bottom: 84px;
  // padding-left: 50px;

  @include mobile {
    // padding: 0 26px 16px 26px;
    // padding: 0 26px 16px 0;
    padding-top: 0;
    padding-bottom: 16px;
    text-align: center;
  }
}

.mySwiper__wrapper {
  align-items: center;
}

.my-slide__img-wrapper {
  max-width: 350px;
  flex-shrink: 0;

  // overflow: hidden;

  @include mobile {
    max-width: 210px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    @include mobile {
      font-size: 32px;
    }
  }
}

.swiper-button-next {
  @include mobile {
    right: -4px;
  }
}

.swiper-button-prev {
  @include mobile {
    left: -4px;
  }
}

// раздел Миссия
.mission {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 94px 50px;

  @include tablet {
    padding: 51px 45px;
  }

  @include mobile {
    padding: 64px 30px;
    gap: 24px;
  }

  h3 {
    font-family: $yandex-font;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 20px;
    }
  }

  p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include mobile {
      order: 3;

      font-size: 18px;
    }
  }

  .mission__img-wrapper {
    img {
      width: 100%;
    }
  }
}

// причины

.reasons {
  padding-top: 88px;
  padding-bottom: 85px;

  @include tablet {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include mobile {
    padding-top: 64px;
    padding-bottom: 67px;
  }
}

.reasons__title {
  margin-bottom: 46px;

  @include mobile {
    margin-bottom: 26px;

    text-align: center;
  }

  p {
    font-family: $yandex-font;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include mobile {
      font-size: 26px;
    }
  }

  span {
    font-size: 32px;

    @include mobile {
      font-size: 18px;
    }
  }

  p:first-child {
    @include mobile {
      font-size: 18px;
    }
  }

  p:nth-child(2) {
    padding-left: 20%;

    @include mobile {
      padding-left: 0;
    }
  }

  p:nth-child(3) {
    text-align: right;

    @include mobile {
      text-align: center;
    }
  }
}

.reasons__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "img-left reasons-list img-right";
  column-gap: 30px;
  align-items: end;

  position: relative;

  // background-color: aqua;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img-left reasons-list";
    align-items: start;
  }

  @include mobile {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    justify-items: center;
    align-items: start;
    grid-template-areas:
      "img-left img-right"
      "reasons-list reasons-list";
  }
}

.reasons__list {
  grid-area: reasons-list;

  @include mobile {
    gap: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 47px;

    list-style-type: none;

    @include mobile {
      gap: 16px;
    }
  }

  li {
    display: flex;
    align-items: baseline;
    gap: 16px;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 16px;
    }
  }
}

.reasons__img-wrapper {
  img {
    width: 100%;
  }
}

.reasons__img-wrapper--left {
  grid-area: img-left;

  @include tablet {
    max-width: 206px;
  }

  @include mobile {
    max-width: auto;
  }
}

.reasons__img-wrapper--right {
  grid-area: img-right;

  @include tablet {
    position: absolute;
    max-width: 206px;
    top: 167px;
    left: 120px;
  }

  @include mobile {
    position: static;
    max-width: auto;
  }
}

.programs {
  padding-top: 112px;
  padding-bottom: 65px;
}

.programs__wrapper {
  display: flex;
  gap: 30px;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    gap: 0;
  }

  .programs__spanish {
    width: 70%;

    @include tablet {
      width: 100%;
    }
  }

  .programs__english {
    width: 30%;

    @include tablet {
      width: 100%;
    }
  }
}

.programs__title {
  margin-top: 72px;
  margin-bottom: 24px;

  text-align: center;

  font-family: $yandex-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    margin-top: 26px;

    font-size: 24px;
  }

  &--spanish {
    border-bottom: 2px solid $blue;
    color: $blue;

    @include mobile {
      cursor: pointer;
    }

    &::after {
      @include mobile {
        content: url("../images/icons/tick-blue.svg");
        display: inline-block;
        width: 40px;
        height: 40px;
        transition: 0.4s ease;
      }
    }
  }

  &--english {
    border-bottom: 2px solid $green;
    color: $green;

    @include mobile {
      cursor: pointer;
    }

    &::after {
      @include mobile {
        content: url("../images/icons/tick-green.svg");
        display: inline-block;
        width: 40px;
        height: 40px;
        transition: 0.4s ease;
      }
    }
  }

  &--spanish.open,
  &--english.open {
    &::after {
      @include mobile {
        transform: rotate(90deg);
      }
    }
  }
}

.program__wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  transition: 2 s;
}

.program__wrapper.close {
  display: none;
}

.program__item {
  width: 337px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 28px;

  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include mobile {
    max-width: 337px;
    width: 100%;
  }

  &--spanish {
    border: 2px solid $blue;
  }

  &--english {
    border: 2px solid $green;
  }

  &--left-text {
    text-align: left;
  }

  &--order3 {
    @include tablet {
      order: 3;
    }

    @include mobile {
      order: 1;
    }
  }

  ul {
    list-style-position: inside;
  }
}

.program__btn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: $white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 71px;

  @include mobile {
    padding: 8px 32px;
  }

  &--spanish {
    background-color: $blue;

    &:hover {
      background-color: rgba(8, 22, 133, 0.7);
    }
  }

  &--english {
    background-color: $green;

    &:hover {
      background-color: rgba(63, 73, 36, 0.7);
    }
  }
}

.help {
  padding-top: 104px;
  padding-bottom: 71px;

  @include tablet {
    padding-top: 60px;
  }

  @include mobile {
    padding-bottom: 66px;
  }
}

.help__content {
  display: grid;
  grid-template-columns: 383px 1fr;
  grid-template-areas:
    "text text"
    "help-img help-list";
  column-gap: 67px;
  row-gap: 48px;

  margin-top: 80px;

  @include tablet {
    grid-template-areas:
      "help-img text"
      "help-list help-list";
    column-gap: 28px;
    margin-top: 24px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "help-img"
      "help-list";
    row-gap: 32px;
  }
}

.help__text {
  grid-area: text;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mobile {
    font-size: 18px;
    line-height: 150%;
  }
}

.help__img-wrapper {
  max-width: 383px;

  img {
    width: 100%;
  }
}

.help__list {
  grid-area: help-list;

  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  list-style-type: none;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include mobile {
    font-size: 16px;
  }

  li::before {
    content: url("../images/icons/tick.svg");
    display: inline-block;
    width: 26px;
    height: 25px;
  }
}

.help__item {
  display: flex;
  gap: 16px;
  align-items: center;

  &--ml {
    margin-left: 100px;

    @include tablet {
      margin-left: 95px;
    }

    @include mobile {
      margin-left: 0;
    }
  }
}

.getting-know {
  max-width: 445px;
  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: auto;

  color: $black;
  background-color: $white;

  @include mobile {
    max-width: 300px;
  }

  .getting-know__title {
    padding: 0;
    color: $black;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: none;

    @include mobile {
      font-size: 16px;
    }
  }

  .getting-know__btn {
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    padding: 8px 71px;

    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: $red;

    &:hover {
      background: rgba(194, 0, 0, 0.7);
    }
  }

  .getting-know__note {
    padding: 0;

    color: #5f5f5f;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-shadow: none;

    @include mobile {
      font-size: 12px;
    }
  }
}

.contacts__content {
  padding: 33px;

  display: flex;
  justify-content: space-between;

  background-color: $white;
}

.contacts__title {
  font-family: $yandex-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__email {
  cursor: pointer;
  text-decoration: none;
  color: $black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  &:hover {
    text-decoration: underline;
  }
}

.footer {
  height: 600px;

  background-image: url(../images/bg/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    height: 300px;
  }

  @include tablet {
    height: 150px;
  }
}

.footer__title {
  color: #f8f0ec;

  // text-align: right;
  /* Shadow 1 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: $yandex-font;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include tablet {
    font-size: 26px;
  }

  @include mobile {
    font-size: 18px;
  }
}

.footer__img-wrapper {
  max-width: 116px;

  @include mobile {
    font-size: 54px;
  }

  img {
    width: 100%;
  }
}

.footer__note {
  cursor: pointer;
  color: $black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;

  &:hover {
    color: $white;
  }
}

.contacts {
  padding: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $white;

  @include mobile {
    flex-direction: column;
    gap: 16px;
  }
}

.contacts__title {
  font-family: $yandex-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts__links-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;

  @include mobile {
    flex-direction: column;
    gap: 16px;
  }
}

.contacts__social-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contacts__social-tg,
.contacts__social-ig {
  width: 65px;
  height: 65px;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;

  @include tablet {
    width: 37px;
    height: 37px;
  }

  @include mobile {
    width: 50px;
    height: 50px;
  }

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
}

.contacts__social-yt {
  width: 160px;
  height: 36px;
  transition-duration: 0.3s;
  transition-property: transform;

  @include tablet {
    width: 89px;
    height: 22px;
  }

  @include mobile {
    width: 120px;
    height: 30px;
  }

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
}
