@import "./variables.scss";

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // min-width: 320px;
  // min-height: 100vh;

  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: $black;

  // @include tablet {
  //   font-size: 18px;
  // }
}

.container {
  max-width: 1110px;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 51px;

  background-image: url("../images/bg/bg-header.png");

  .header__image {
    position: relative;
    padding-bottom: 38px;
  }

  .header__img-title {
    width: 100%;
  }

  .header__img-logo {
    position: absolute;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20%;
  }

  .header__text {
    margin: 0;
    padding-bottom: 27px;

    text-align: center;
    color: $white;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.7);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
  padding: 30px;

  list-style-type: none;
  background: $white;

  .menu__link {
    cursor: pointer;
    text-decoration: none;
    color: $black;
  }
}

.about-me {
  display: flex;
  gap: 30px;

  padding: 50px;

  .about-me__img-wrapper {
    max-width: 347px;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  .about-me__text-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
}
