@import "./variables.scss";

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
  background-color: $white;
  color: $green;

  @include tablet {
    font-size: 18px;
  }
}

.container {
  max-width: 1340px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 37%,
    rgba(0, 149, 255, 1) 100%
  );

  .header__content {
    // height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 30px;
  }

  .header__title {
    text-transform: uppercase;
    color: rgb(155, 43, 43);
    letter-spacing: 6px;

    font-size: 40px;
  }

  .header__text {
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
  }

  .header__img {
    // width: 400px;
    width: 30%;
  }
}

.section {
  // height: 800px;
  padding: 30px;

  // display: flex;
  // gap: 30px;
}

.section--white {
  background-color: $white;
  color: $green;
}

.section--green {
  background-color: $green;

  border-bottom: 1px solid $white;
  color: $white;
  font-size: 22px;
}

// .img {
//   width: 40%;
// }

.about {
  display: flex;
  gap: 30px;

  .about__description {
    width: 60%;

    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about__title {
      text-decoration: underline;
      text-align: center;
    }

    .about__subtitle {
      text-align: center;
    }

    // .about__text {
    // }
  }

  .about__img {
    width: 40%;

    img {
      width: 100%;
    }
  }
}

.green-border {
  border: 1px solid green;
  border-radius: 20px;
}

// слайдер
.carousel-item {
  padding: 60px;
  font-size: 22px;

  .carousel-item__content {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 600px;

    .carousel-item__content-description {
      width: 60%;
    }

    .carousel-item__content-title {
      font-size: 40px;
      font-weight: bold;
    }

    .carousel-item__content-text {
      font-size: 30px;
    }

    .carousel-item__content-img {
      width: 40%;

      img {
        width: 90%;
      }
    }
  }

  .carousel-item__border-bottom {
    display: flex;
    justify-content: center;
    div {
      width: 400px;
      border-bottom: 1px solid $green;
    }
    // text-align: center;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.program {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(./../images/bg/bg-rocks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;

  &__wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    .program__item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 30px;

      background-color: #af7a43;

      ul {
        list-style: none;
        padding-left: 0;
      }

      &-number {
        position: absolute;
        top: -10%;
        left: -5%;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;

        border-radius: 50%;
        background-color: $white;
        color: #af7a43;
      }
    }
  }
}

.footer {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(./../images/mount.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  &__wrapper {
    padding: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  p {
    text-align: center;
  }

  .background-icon {
    width: 50px;
  }
}
