// цвета
$black: #000000;
$blue: #081685;
$green: #3f4924;
$red: #c20000;
$white: #ffffff;

// медиа-запросы
@mixin decktop {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}
