// цвета
$background: #e4dfd8;
$green: #315812;
$white: #e4dfd8;

// медиа-запросы
@mixin decktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 440px) {
    @content;
  }
}
