// цвета
$black: #000000;
$blue: #081685;
$green: #3f4924;
$red: #c20000;
$white: #f8f0ec;

// медиа-запросы
@mixin decktop {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

// шрифты
$main-font: "Noto Sans", sans-serif;

@font-face {
  font-family: "Yandex Serif";
  src: url("../fonts/Yandex_Sans/YandexSansDisplay-Regular.ttf");
}

$yandex-font: "Yandex Serif", sans-serif;
